<div [class]="'label-container'">
  <div [class]="'label'" *ngFor="let e of [].constructor(49); let i = index">
    <ng-container *ngIf="i > 0"> {{(i-1)}}:00 </ng-container>
  </div> 
</div>
<div [class]="'cell-container'">
  <ng-container *ngFor="let e of [].constructor(49); let i = index">
      <div #tableCells [class]="'tablecell'"  *ngFor="let day of days; let j = index"> 
        <ng-container *ngIf="i == 0"> {{day}} </ng-container>
        <ng-container *ngIf="j == 0 && i > 0 && i % 2 == 1"> {{(i-1)/2}}:00</ng-container>
      </div>
  </ng-container> 
</div>
