// time table container
:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // width: 80vw;
  width: 100%;
  padding: 20px;
  //overflow-x: auto;
}

.label-container {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-content: flex-start;
}

.label {
  height: 60px;
  flex-basis: 0px;
  flex-grow: 1; 
  align-items: center;
  padding: 0;
  margin: 0;
}

.cell-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 0; // basis-width before shrinking / growing 
  flex-grow: 1; // use remaining space
}

/* standard time table cell */
.tablecell {
  display: flex;
}

.cell-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 0; // basis-width before shrinking / growing 
  flex-grow: 1; // use remaining space
}

/* standard time table cell */
.tablecell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 30px)/7.3); // need to be less than 8 because first colum is smaller  
  // min-width: 80px; //does not really work yet. because the container still shrinks the wrapping is messing up the table 
  user-select: none;
  height: 30px;
  background-color: white;
  border: 1px solid #AAAAAA;
  border-top: none; // remove top border for all elements (so no border collapse simulation ala negative margin is necessary)
  border-right: none; // remove right border for all elements (same reason)
  font-size: 0.8em;
  text-align: center;
  //vertical-align: middle; // this does not seem to work
}


/* every second row grey bottom border (half hour step) */
.tablecell:nth-child(16n+9), .tablecell:nth-child(16n+10), .tablecell:nth-child(16n+11), .tablecell:nth-child(16n+12),
.tablecell:nth-child(16n+13), .tablecell:nth-child(16n+14), .tablecell:nth-child(16n+15), .tablecell:nth-child(16n+16),
{
  border-bottom: 1px solid #eeeeee;
}

/* first column */
.tablecell:nth-child(8n-7) {
  border-left: none; /* Remove left border for every 1st element */
  background: #eeeeee;
  width: 10px; 
  min-width: 50px; //does not really work yet. because the container still shrinks the wrapping is messing up the table 
}

/* Remove bottom border for last row */
.tablecell:nth-child(n+385) {
  border-bottom: none; 
}


