#task-container {
  width: calc((80vw / 7.9) - 5px) ;
  position: absolute;
  z-index:100;

  border: 1px solid black;
  background: #275de6;
}

#task-header {
  height: 1em;
  background: #579dff;
  cursor: grab;
}

#upper-resizer {
  background: #579dff;
  cursor: n-resize;
  width: 100%;
  height: 2px;
}

#lower-resizer {
  cursor: s-resize;
  width: 100%;
  height: 2px;
}

.task-content {
  overflow-wrap: break-word;
  overflow-y: auto;
  height: calc(100% - 1em - 4px);
  padding: 3px;

  color: white;
}

// todo: create no-scrollbar css class 

.task-content:focus {
    outline: none;
}

.task-content {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.task-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


