<div id="task-container"
  [style.top.px]="position.y"
  [style.left.px]="position.x"
  [style.height.px]="height"
  >
  <div id="upper-resizer"
    (mousedown)=onStartResizeUpper($event)></div>
  <div id="task-header" 
    [ngStyle]="{'cursor': dragging ? 'grabbing' : 'grab'}"
    (mousedown)=onStartDragging($event)>
  </div>

  <div
    id="taskId"
    [class]="'task-content'" 
    contenteditable="true">
    Enter your task..
  </div>
  <div id="lower-resizer"
    (mousedown)=onStartResizeLower($event)
    ></div>
</div>
