<div [class]="'table-container'" (mousemove)="onMouseMove($event)">
  <tt-table
    (columnWidthEmitter)=setColumnWidth($event)
    (firstColumnWidthEmitter)=setFirstColumnWidth($event)
    (tablePositionEmitter)=onChangeTablePosition($event)
    >
  </tt-table></div>
  <tt-task *ngFor="let task of taskList" [width]="columnWidth" [initPosition]="initPosition" [snapGrid]="snapGrid" ></tt-task>
<div [class]="'fixed-bottom-bar'">
  <button [class]="'task-button'" type="button" (click)="createTask()">
    +
  </button>
</div>
<div [class]="'mouse-position'">
  {{mouseposition.x}} {{mouseposition.y}}
</div>
