/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// this does ont work on elements set to contenteditable 
.noselect {
  -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
     -khtml-user-select: none !important; /* Konqueror HTML */
       -moz-user-select: none !important; /* Old versions of Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
