/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-family: Verdana, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


